<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a href="mailto:adityakatare35@gmail.com"><i class='bx bxl-gmail' ></i></a></li>
        <li><a href="https://github.com/Aditya8975"><i class='bx bxl-github' ></i></a></li>
        <li><a href="https://in.linkedin.com/in/adityakatare35"><i class='bx bxl-linkedin' ></i></a></li>
    </ul>

    <ul class="contact-info">
        <li>Mobile:8975532524</li>
        <li>adityakatare35&#64;gmail.com</li>
    </ul>
</div>
